@import "../../../Styles/common.scss";


.order-container {
  width: 300px;
  .order-form {
    border: 1px solid #f2f2f2;
    margin-top: 54px;
    width: 300px;
  
    .delivery-info {
      width: 300px;
      padding: 23px 19px 20px 19px;
      color: #4C4C4C;
      border-bottom: 1px solid #f2f2f2;
  
      h3 {
        font-size: 16px;
        font-weight: bold;
      }
  
      p {
        margin: 0;
        font-weight: bold;
      }
  
      span {
        font-size: 14px;
        color: #666666;
      }
  
      button {
        color: #5f0080;
        border: 1px solid #5f0080;
        background-color: #ffffff;
        width: 100%;
        height: 40px;
        margin-top: 17px;
        border-radius: 10px;
      }
    }
  
    .pay-info {
      width: 300px;
      padding: 9px 18px 18px 20px;
      background-color: #fafafa;
  
      dl {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-top: 9px;
  
        &:nth-child(5) {
          border-top: 1px solid #eee;
        }
  
        .price {
          font-size: 18px;
        }
  
        .won {
          font-size: 16px;
        }
  
        .total {
          font-size: 22px;
          font-weight: bold;
        }
      }
  
      .free-delivery-standard {
        text-align: right;
        color: #5f0080;
        font-size: 12px;
      }
    }
  
    .member-benebit {
      text-align: right;
  
      .icon {
        background-color: #ffbf00;
        color: #ffffff;
        border-radius: 20px;
        font-size: 11.5px;
        padding: 3px 5px;
        margin-right: 7px;
      }

      .paragraph {
        font-size: 12.5px;
        padding-top: 5px;
      }
    }
  }
  
  .order-btn {
    background-color: #5f0080;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #5f0080;
    margin-top: 20px;
    width: 300px;
    height: 50px;
  }
  
  .order-explain {
    width: 300px;
    list-style: none;
    font-size: 12px;
    padding: 35px 0 0 0;
  }
}