@import "../../Styles/common.scss";


.footer-container {
  border-top: 1px solid $border-gray;
  
  footer {
    width: 1050px;
    margin: 0 auto;
  }

  .inquiry {
    float: left;
    width: 534px;
    & h2 {
      margin: 29px 0 2px 0;
      font-size: 20px;
      font-weight: bold;
    }
    .service-center {
      margin: 3px 16px 0 0;
  
      & span {
        float: left;
        font-size: 28px;
        font-weight: bold;
        color: $dark-gray;
        margin-right: 16px;
        padding-top: 20px;
      }
      dl {
        font-size: 14px;
        padding-top: 20px;

        dd {
          color: $light-gray;
        }
      }
    }
  
    .kakaotalk {
      & a {
        float: left;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: $dark-gray;
        padding: 10px 22px;
        margin-right: 16px;
        border: 1px solid $border-gray;
      }
      dl {
        font-size: 14px;

        dd {
          color: $light-gray;
        }
      }
    }
  
    .one-to-one {
      padding-top: 10px;
  
      & a {
        float: left;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid $border-gray;
        color: $dark-gray;
        padding: 10px 40px;
        margin-right: 16px;
      }
      dl {
        font-size: 14px;
  
        dd {
          color: $light-gray;
        }
      }
    }
  
    .bulk-order {
      padding-top: 10px;
  
      & a {
        float: left;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid #e3e3e3;
        color: $dark-gray;
        padding: 10px 22px;
        margin-right: 16px;
      }
      dl {
        font-size: 14px;
  
        dd {
          color: $light-gray;
          padding-top: 9px;
        }
      }
    }
  }
  
  .introduction {
    .link-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 29px 0 29px 0;
    }
    & a {
      color: $dark-gray;
      text-decoration: none;
      font-size: 14px;
    }
    & li:nth-child(5) {
      font-weight: bold;
    }
    .about-detail {
      font-size: 12px;
  
      span {
        color: $light-gray;
      }
      a {
        color: $main-purple;
      }
    }
  
    .site-icons {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 200px;
      padding: 35px 0 20px 0;
  
      img {
        width: 30px;
      }
    }
  }
  
  .authentication {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: $light-gray;
    padding: 20px 0 10px 0;
    border-top: 1px solid #e9e5e5;
  
    ul {
      padding: 0;
    }
    li {
      list-style: none;
    }
    .mark-01 {
      width: 250px;
  
      img {
        float: left;
        width: 34px;
        margin-right: 10px;
      }
    }
    .mark-02 {
      width: 250px;
  
      img {
        float: left;
        width: 34px;
        margin-right: 10px;
      }
    }
  
    .payments {
      width: 500px;
  
      img {
        float: left;
        width: 102px;
        height: 34px;
        margin-right: 10px;
      }
    }
  }
  
  .indemnification-clause {
    background-color: $gray-background;
    padding: 19px 0 27px;
  
    p, em {
      display: block;
      margin: 0;
      font-size: 10px;
      text-align: center;
      color: $light-gray;
    }
    em {
      padding: 5px;
    }
  }
}